<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">Products</h3>
        <div class="panel panel-default">
            <div class="panel-heading">
                On stock
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="p in products">
                                <td>{{ p.Id}} </td>
                                <td>{{ p.Title }}</td>
                                <td>{{ p.Description }}</td>
                                <td>{{ p.Amount }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div>
                <input class="form-control" type="text" ng-model="dataToPoke" />
                <br />
                <button class="btn btn-default" ng-click="pokeAll()">Poke all</button>
                <h4>Poked data:</h4>
                {{ pokedData }}
            </div>
        </div>
    </div>
</div>